body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

.toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#notepadCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#noteContent {
    width: 300px;
    height: 150px;
}

button {
    margin-top: 10px;
}